* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway',
        sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.nombre-sitio span {
    display: inline;
    color: rgb(37, 150, 190);
}

.nav-principal {
    border-top: 1px solid rgb(182, 181, 181);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around
}

.nav-principal a {
    text-decoration: none;
}

.titulo-contacto {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-form {
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.contenedor-form div {
    display: flex;
    position: relative;
    bottom: 1rem;
    justify-content: center;
    background-color: #0c405e;
    color: #fff;
    margin: 0 1rem 2rem 0;
}

.contenedor-form div h1 {
    font-size: 1rem;
}

label {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

span {
    display: flex;
    width: 20%;
}

input {
    width: 77%;
    padding: .4rem;
    border: 1px solid rgb(182, 181, 181);
}

textarea {
    width: 77%;
    border: 1px solid rgb(182, 181, 181);
}

select {
    width: 77%;
    padding: .4rem;
}

.contenedor-submit {
    border: none;
    padding: 0;
}

.submit {
    width: 150px;
    margin: 0;
    border: none;
    background-color: greenyellow;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .contenedor-form {
        width: 300px;
    }

    span {
        display: flex;
        width: 30%;
    }

    input {
        width: 66%;
    }

    textarea {
        width: 66%;
    }

    select {
        width: 66%;
    }
}

/* inicio de estilos de menu */
#menu {
    position: absolute;
    padding: 1rem 0 0 2rem;
    visibility: hidden;
}

input#menu {
    visibility: hidden;
}

@media screen and (max-width: 600px) {
    #menu {
        visibility: visible;
    }

    .nav-principal {
        background-color: #0c405e;
        width: 100%;
        list-style: none;
        height: 80%;
        position: absolute;
        top: 10rem;
        right: 100%;
        transition: all 300ms linear;
        z-index: 2;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .nav-principal a {
        color: #fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 2rem;
    }

    input#menu:checked~ul {
        right: 0;
    }

}