* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(44, 44, 40);
}

body {
    font-family: 'Raleway',sans-serif;
}
h1{
    font-family: 'Playfair Display',sans-serif;
    font-size: 3.8rem;
}
h3{
    font-family: 'Playfair Display',
    sans-serif;
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.nombre-sitio span {
    display: inline;
    color: rgb(37, 150, 190);
}

.nav-principal {
    border-top: 1px solid rgb(182, 181, 181);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around
}

.nav-principal a {
    text-decoration: none;
}

.titulo-contacto {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}
.titulo-contacto h1 {
    font-size: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-form {
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.contenedor-form div {
    display: flex;
    position: relative;
    bottom: 1rem;
    justify-content: center;
    background-color: #1b6b9a;
    color: #fff;
    margin: 0 1rem 2rem 0;
}

.contenedor-form div h1 {
    font-family: 'Raleway',sans-serif;
    font-size: 1rem;
}

label {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

span {
    display: flex;
    width: 20%;
}

input {
    width: 77%;
    padding: .4rem;
    border: 1px solid rgb(182, 181, 181);
}

textarea {
    width: 77%;
    border: 1px solid rgb(182, 181, 181);
}

select {
    width: 77%;
    padding: .4rem;
}

.contenedor-submit {
    border: none;
    padding: 0;
}

.submit {
    width: 150px;
    margin: 0;
    border: none;
    background-color: rgb(135, 202, 35);
    color: #fff;
}

@media screen and (max-width: 600px) {
    .contenedor-form {
        width: 300px;
    }

    span {
        display: flex;
        width: 30%;
    }

    input {
        width: 66%;
    }

    textarea {
        width: 66%;
    }

    select {
        width: 66%;
    }
}

/* inicio de estilos de menu */
#menu {
    position: absolute;
    padding: 1rem 0 0 2rem;
    visibility: hidden;
}

input#menu {
    visibility: hidden;
}

@media screen and (max-width: 600px) {
    #menu {
        visibility: visible;
    }

    .nav-principal {
        background-color: #0c405e;
        width: 100%;
        list-style: none;
        height: 80%;
        position: absolute;
        top: 15rem;
        right: 100%;
        transition: all 300ms linear;
        z-index: 2;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .nav-principal a {
        color: #fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 2rem;
    }

    input#menu:checked~ul {
        right: 0;
    }

}
@media screen and (max-width: 500px){
    h1 {
        font-size: 2.5rem;
    }
    .nav-principal{
        top: 11rem;
    }
}

/* inicio del footer*/
.grid-footer{
    margin-top: 3rem;
    border-top: 1px solid rgb(182, 181, 181);
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
.footer-menu{
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
}
.footer-menu a{
    padding: .5rem 0rem;
    text-decoration: none;
}
.grid-footer div:nth-child(2){
    padding: 0rem 15vw;
}
.copyright {
    padding: 3rem 0 2rem 0;
    text-align: center;
}
@media screen and (max-width: 900px) {
    .grid-footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .grid-footer div:nth-child(2) {
        padding: 2rem 0rem;
    }
}