html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
box-sizing: inherit;
}
body{
    font-family:'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
h1,
h2,
h3{
    font-family: 'Playfair Display', sans-serif;
    margin: 0 0 2rem 0;
}
h1{
    font-size: 3.8rem;
}


/*Footer*/
.site-footer{
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}
.site-footer h3{
    margin-bottom: .5rem;
    text-align: center;
}
@media (min-width: 768px){
    .site-footer h3{
        text-align: left;
    }
    .grid-footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
.grid-footer > div {
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    .grid-footer > div {
        margin: 0;
    }
}

.footer-menu a{
    display: block;
    text-align: center;
}
@media(min-width: 768px){
    .footer-menu a{
        text-align: left;
    }
}
.copyright {
    margin-top: 5rem;
    text-align: center;
}
