html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
box-sizing: inherit;
}
body{
    font-family:'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
h1,
h2,
h3{
    font-family: 'Playfair Display', sans-serif;
    margin: 0 0 2rem 0;
}
h1{
    font-size: 3.8rem;
}
a{
    text-decoration: none;
    color: #000;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
}
/*nav*/
.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}
.nombre-sitio span{
    color: #037bc0;
}
.contenedor-navegacion{
    border-top: .1rem solid #e1e1e1;
}
.nav-principal{
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}  
/*sobre-nosotros*/

.sobre-nosotros h2{
    text-align: center;
    font-size: 5rem;
    padding: 5rem 0px 0px 0px;
}
.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
@media (max-width: 768px){
    .sobre-nosotros-grid{
        grid-template-columns: none;
        grid-template-rows: repeat(1,1fr);
    }
}
.texto-nosotros{
    grid-row: 1 / 2;
}
.texto-nosotros p{
    padding-top: 3rem;
}
@media (min-width:768px){
    .texto-nosotros{
        grid-column: 2/ 3;
        padding-left: 5rem;
    }
}

@media (max-width:768px){
    .img{
        padding-top:-10rem;
    }
}


/*Footer*/
.site-footer{
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}
.site-footer h3{
    margin-bottom: .5rem;
    text-align: center;
}
@media (min-width: 768px){
    .site-footer h3{
        text-align: left;
    }
    .grid-footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
.grid-footer > div {
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    .grid-footer > div {
        margin: 0;
    }
}

.footer-menu a{
    display: block;
    text-align: center;
}
@media(min-width: 768px){
    .footer-menu a{
        text-align: left;
    }
}
.copyright {
    margin-top: 5rem;
    text-align: center;
}

#menu {
    position: absolute;
    padding: 1rem 0 0 2rem;
    visibility: hidden;
}

input#menu {
    visibility: hidden;
}

@media screen and (max-width: 600px) {
    #menu {
        visibility: visible;
        position: relative;
    }

    .contenedor-navegacion {
        padding-left: 2rem;
        border-top: none;
    }

    .nav-principal {
        background-color: #0c405e;
        width: 100%;
        list-style: none;
        height: 80%;
        position: absolute;
        top: 20.5rem;
        right: 100%;
        transition: all 300ms linear;
        z-index: 2;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .nav-principal a {
        color: #fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 2rem;
    }

    input#menu:checked~ul {
        right: 0;
    }

}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    .nav-principal {
        top: 18rem;
    }
}